<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AntiBruteRDP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <AntiBruteRDP.My.MySettings>
            <setting name="BlockUsers" serializeAs="String">
                <value>administrator,root,admin,Guest</value>
            </setting>
            <setting name="BlockTimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BlockAttempts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BlockDuration" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BlackholeIP" serializeAs="String">
                <value>1.1.1.1</value>
            </setting>
            <setting name="NotifyOnBlock" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NotifyOnUnblock" serializeAs="String">
                <value>1</value>
            </setting>
        </AntiBruteRDP.My.MySettings>
    </userSettings>
</configuration>
